<ion-content class="ion-padding">
  <ng-container *ngIf="validateVerification$ | async as reset">
    <h6 class="mt-3 mb-1">Verifikasi Kode Keamanan</h6>
    <p class="small text-secondary mt-0">Periksa kotak masuk email Anda</p>

    <ion-item lines="full">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label position="stacked">Alamat Email</ion-label>
      <ion-input type="text" placeholder="emailsaya@gmail.com" [(ngModel)]="passcode" required></ion-input>
      <ion-buttons slot="end">
        <ion-button [disabled]="!passcode || reset?.status == 'loading'" (click)="validate()">
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ng-container>
</ion-content>