<ion-content class="ion-padding">
  <ng-container *ngIf="validateVerification$ | async as validation">
    <h6 class="mt-3 mb-1">Verifikasi Pemilik Akun</h6>
    <p class="small text-secondary mt-0">Periksa kotak masuk email Anda</p>

    <ion-item lines="full" class="mb-4">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label position="stacked">Kode Verifikasi</ion-label>
      <ion-input type="text" placeholder="K92252K" [(ngModel)]="passcode" required></ion-input>
      <ion-buttons slot="end">
        <ion-button [disabled]="!passcode || validation?.status == 'loading'" (click)="validate()">
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-button mode="ios" size="small" fill="clear" (click)="dismiss()">Batalkan</ion-button>
  </ng-container>
</ion-content>