<ion-content class="ion-padding">
  <ng-container *ngIf="resetPassword$ | async as reset">
    <h6 class="mt-3 mb-1">Lupa Password</h6>
    <p class="small text-secondary mt-0">Gunakan email akun Anda untuk melanjutkan</p>

    <ion-item lines="full">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label position="stacked">Alamat Email</ion-label>
      <ion-input type="email" placeholder="emailsaya@gmail.com" [(ngModel)]="email" required></ion-input>
      <ion-buttons slot="end">
        <ion-button [disabled]="!email || reset?.status == 'loading'" (click)="requestResetPassword()">
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ng-container>
</ion-content>