<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="small">Ambil Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" #ionContentEl>
  <div class="d-flex flex-column h-100">
    <div></div>
    <div class="mt-auto ion-padding d-flex w-100 justify-content-center">
      <div class="mb-5 pb-5">
        <ion-buttons>
          <ion-button color="danger" (click)="dismiss()">
            <ion-icon name="close-outline" slot="icon-only" size="large"></ion-icon>
          </ion-button>

          <ion-button color="primary" (click)="savePicture()" class="mx-3">
            <ion-icon name="radio-button-on-outline" slot="icon-only" size="large"></ion-icon>
          </ion-button>

          <ion-button color="secondary" (click)="switchCamera()">
            <ion-icon name="repeat-outline" slot="icon-only" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>