<ion-header>
  <ion-toolbar>
    <ion-title size="small">
      <ion-text class="fw-medium">Komentar</ion-text>
      <ion-text color="medium" class="ms-3">{{ momentItem?.comment_count }}</ion-text>
    </ion-title>

    <ion-buttons slot="end" class="pe-2">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button (click)="presentCommentEditor()">
      <div class="rounded-pill bg-light px-3 py-2 small mb-2 w-100 d-flex align-items-center">
        Tambahkan komentar...
      </div>
    </ion-item>

    <ng-container *ngIf="loadedComments$ | async as comment">
      <div *ngIf="comment?.status == 'loading'" class="ion-padding text-center">
        <ion-spinner name="dots"></ion-spinner>
      </div>

      <div *ngIf="comment?.status == 'loaded' && comment?.data?.results?.length == 0" class="text-center small text-muted ion-padding">
        Jadi yang pertama berkomentar.
      </div>

      <ng-container *ngFor="let item of comment?.data?.results; let last = last;">
        <ion-item [lines]="last ? 'none' : 'full'">
          <ion-label class="ion-text-wrap">
            <ion-text color="medium" class="small">{{ item.user }} &middot; {{ item.create_at | date:'d MMM YYYY HH:mm' }}</ion-text>
            <div class="pt-2 text-dark" [innerHTML]="item.comment_content"></div>
          </ion-label>

          <ion-buttons *ngIf="item.is_owner" slot="end">
            <ion-button (click)="deleteComment(item)">
              <ion-icon size="small" name="trash-outline" slot="icon-only" color="danger"></ion-icon>
            </ion-button>

            <ion-button (click)="presentCommentEditor(item)">
              <ion-icon size="small" name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)" [disabled]="!nextUrl">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>