<ion-header>
  <ion-toolbar>
    <ion-title size="small">
      <ion-icon name="chatbox-outline" slot="start"></ion-icon>
      <ion-text>{{ commentItem?.guid ? 'Edit Komentar' : 'Kirim Komentar' }}</ion-text>
    </ion-title>

    <ion-button slot="end" size="small" fill="clear" class="ion-margin-end" [disabled]="formGroup.invalid || (createdComment$ | async)?.status == 'loading' || (updatedComment$ | async).status == 'loading'" (click)="send()">
      <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      <ion-text>Kirim</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
  <ng-container *ngIf="createdComment$ | async as comment">
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" #myForm="ngForm">
      <ion-item lines="full" color="light">
        <ion-textarea placeholder="Tulis komentar..." rows="3" formControlName="comment_content" autosize></ion-textarea>
      </ion-item>
    </form>
  </ng-container>
</ion-content>