<ion-header [translucent]="true">
  <ion-toolbar color="tosca">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">
      Rubah Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="userChangePassword$ | async as change">
    <div class="p-3">
      <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
        <ion-item lines="full">
          <ion-icon slot="start" name="key-outline"></ion-icon>
          <ion-label position="stacked">Password Saat Ini</ion-label>
          <ion-input [type]="isPasswordShowed ? 'text' : 'password'" placeholder="******" formControlName="current_password"></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="showPassword()">
              <ion-icon slot="icon-only" [name]="isPasswordShowed ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="key-outline"></ion-icon>
          <ion-label position="stacked">Password Baru</ion-label>
          <ion-input [type]="isPasswordShowed ? 'text' : 'password'" placeholder="******" formControlName="new_password"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
          <ion-label position="stacked">Ulangi Password Baru</ion-label>
          <ion-input [type]="isPasswordShowed ? 'text' : 'password'" placeholder="******" formControlName="retype_password"></ion-input>
        </ion-item>
    
        <div class="text-center pt-4" [ngStyle]="{'min-height': '66px'}">
          <button *ngIf="change?.status != 'loading'" type="submit" class="btn btn-info rounded-pill px-4 py-2 text-white" [disabled]="formGroup.invalid || change?.status == 'loading'">
            <ion-text>Submit</ion-text>
          </button>
  
          <ion-spinner *ngIf="change?.status == 'loading'" name="dots" color="tosca"></ion-spinner>
        </div>
      </form>
    </div>
  </ng-container>
</ion-content>