<ion-list>
  <ion-item lines="full">
    <ion-label class="ion-text-center">
      Tetapkan Radius
      <p>max. {{ maxRadius }} km</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ng-container *ngIf="filterRadius$ | async as radius">
      <ion-range min="1" max="5" step="1" pin="true" snaps="true" [value]="radius?.distance" (ionChange)="onRadiusChange()" [(ngModel)]="radiusValue">
        <ion-buttons slot="start" size="small">
          <ion-button (click)="onDecreaseRadius()" [disabled]="radiusValue == minRadius">
            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        
        <ion-buttons slot="end" size="small">
          <ion-button (click)="onIncreaseRadius()" [disabled]="radiusValue == maxRadius">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-range>
    </ng-container>
  </ion-item>
</ion-list>