<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="small">Simpan Kenangan</ion-title>

    <ion-button slot="end" size="small" fill="clear" color="secondary" class="ion-margin-end" [disabled]="formGroup.invalid || (createdMoment$ | async)?.status == 'loading' || (updatedMoment$ | async).status == 'loading' || attachmentsGuid?.length == 0" (click)="send()">
      <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      <ion-text>Kirim</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-bottom">
  <ng-container *ngIf="createdMoment$ | async as moment">
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" #myForm="ngForm">
      <ion-item color="light" class="mb-3">
        <ion-textarea placeholder="Caption..." rows="4" formControlName="summary" autosize></ion-textarea>
      </ion-item>

      <ion-item lines="none" (click)="takePicture()" button>
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        <ion-label>
          <ion-text>Tambahkan Foto</ion-text>
          <p *ngIf="attachmentsPreview?.length == 0" class="small">
            <ion-text color="medium">Minimal 1 buah</ion-text>
          </p>
        </ion-label>
      </ion-item>

      <ng-container *ngIf="attachmentsPreview?.length > 0">
        <div class="ion-padding-start ion-padding-end ion-padding-top"> 
          <div class="row gx-2 gy-2">
            <div *ngFor="let item of attachmentsPreview" class="col-4">
              <div class="ratio ratio-1x1 rounded shadow-sm">
                <div>
                  <ng-container *ngIf="item?.file">
                    <ion-img [src]="item.file" class="fit-image rounded"></ion-img>
                    <button *ngIf="item?.guid" type="button" class="btn btn-danger btn-sm position-absolute rounded-0 bottom-0 end-0" (click)="removeAttachment(item)">
                      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                    </button>
                  </ng-container>

                  <ng-container *ngIf="!item?.file">
                    <div class="d-flex flex-column w-100 h-100 align-items-center justify-content-center">
                      <ion-spinner name="dots"></ion-spinner>
                      <div class="d-block small text-center text-secondary">
                        uploading...
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="text-center pt-5" [ngStyle]="{'min-height': '66px'}">
        <button *ngIf="moment?.status != 'loading' && ((updatedMoment$ | async)?.status != 'loading' && (updatedMyMoment$ | async)?.status != 'loading')" type="submit" class="btn btn-info rounded-pill px-4 py-2 text-white" [disabled]="formGroup.invalid || moment?.status == 'loading' || attachmentsGuid?.length == 0">
          <ion-text>Submit</ion-text>
        </button>

        <ion-spinner *ngIf="moment?.status == 'loading' || (updatedMoment$ | async)?.status == 'loading' || (updatedMyMoment$ | async)?.status == 'loading'" name="dots" color="black"></ion-spinner>
      </div>
    </form>
  </ng-container>
</ion-content>