<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="small">Buat Kenangan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item color="light">
      <ion-textarea placeholder="Kenangan apa?" rows="3"></ion-textarea>
    </ion-item>

    <ion-item lines="none" button (click)="presentMomentPhotoEditor()">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      <ion-label>Tambahkan Foto</ion-label>
    </ion-item>
  </form>
</ion-content>