<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="small">Geser & Zoom</ion-title>

    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button (click)="dismiss(true)" mode="ios">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        <ion-text>Terapkan</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-100" #mapEl></div>
  <div class="alert alert-warning rounded-0 position-absolute bottom-0 small mb-0 w-100 border-0" [ngStyle]="{'z-index': '99999'}">
    Geser dan zoom peta untuk melihat kenangan dilokasi tertentu dalam lingkaran.
  </div>
</ion-content>