<ng-container *ngIf="loadedMoments$ | async as moment">
  <div *ngIf="moment?.status == 'loading'" class="text-center p-3">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-item *ngIf="moment?.data?.results?.length == 0 && moment?.status == 'loaded'" color="warning">
    <ion-label class="small">Tidak ditemukan kenangan. Coba lokasi lain.</ion-label>
  </ion-item>

  <ng-container *ngFor="let item of moment?.data?.results">
    <ion-card class="shadow-none ms-0 me-0" [ngStyle]="{'border-radius': '0px'}">
      <ion-card-content>
        <div class="d-flex align-items-center mb-2">
          <div class="d-flex">
            <ion-icon slot="start" name="navigate-outline" size="small"></ion-icon>
            <ion-text *ngIf="item.distance > 0" class="small ms-1">{{ item.distance | number: '1.0-0' }} KM</ion-text>
            <ion-text *ngIf="item.distance <= 0" class="small ms-1">Tidak diketahui</ion-text>
          </div>

          <ion-text class="mx-2">&middot;</ion-text>
          <ion-text color="medium">{{ item.create_at | date:'d MMM YYYY HH:mm' }}</ion-text>
        </div>

        <div *ngIf="item.summary" class="mb-2 text-dark" [innerHTML]="item.summary" [ngStyle]="{'white-space': 'pre-wrap'}"></div>
        
        <ng-container *ngIf="item?.attachments?.length > 0">
          <div class="row gx-2 justify-content-center mb-2" (click)="presentPictureViewer(item?.attachments)">
            <ng-container *ngIf="item?.attachments?.length == 1">
              <div *ngIf="item?.attachments?.[0].file" class="col-12">
                <div class="ratio ratio-1x1 rounded">
                  <div><ion-img [src]="item?.attachments?.[0].file" class="fit-image rounded"></ion-img></div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="item?.attachments?.length == 2">
              <ng-container *ngFor="let attach of item?.attachments">
                <div *ngIf="attach?.file" class="col-6">
                  <div class="ratio ratio-1x1 rounded shadow-sm">
                    <div><ion-img [src]="attach.file" class="fit-image rounded"></ion-img></div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="item?.attachments?.length == 3">
              <ng-container *ngFor="let attach of item?.attachments">
                <div *ngIf="attach?.file" class="col-4">
                  <div class="ratio ratio-1x1 rounded shadow-sm">
                    <div><ion-img [src]="attach.file" class="fit-image rounded"></ion-img></div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="item?.attachments?.length > 3">
              <ng-container *ngFor="let attach of item?.attachments.slice(0, 2)">
                <div *ngIf="attach?.file" class="col-4">
                  <div class="ratio ratio-1x1 rounded shadow-sm">
                    <div><ion-img [src]="attach.file" class="fit-image rounded"></ion-img></div>
                  </div>
                </div>
              </ng-container>

              <div class="col-4">
                <div class="ratio ratio-1x1 border shadow-sm rounded">
                  <div>
                    <div class="d-flex h-100 w-100 justify-content-center align-items-center bg-light rounded small">
                      +{{ item?.attachments.slice(2).length }} lagi
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
    
        <div class="d-flex align-items-center">
          <ion-text color="dark" [innerHTML]="item.user ? item.user : 'Anonim'" [ngStyle]="{'font-weight': 500}"></ion-text>
    
          <div class="ms-auto">
            <ion-button fill="clear" size="small" color="tosca" (click)="presentCommentList(item)">
              <ion-icon name="chatbox-outline" slot="start"></ion-icon>
              <ion-text>{{ item.comment_count }} &middot; Komentari</ion-text>
            </ion-button>
          </div>
        </div>

        <div *ngIf="item.is_owner" class="row mt-2 pt-2 border-top">
          <div class="col-6">
            <ion-button expand="block" fill="clear" color="danger" size="small" mode="ios" (click)="deleteItem(item)">Hapus</ion-button>
          </div>

          <div class="col-6 border-start">
            <ion-button expand="block" fill="clear" color="dark" size="small" mode="ios" (click)="editItem(item)">Edit</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)" [disabled]="!nextUrl">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>
